[tool.poetry]
name = "derivative"
version = "0.3.2"
description = "Numerical differentiation in python."
repository = "https://github.com/andgoldschmidt/derivative"
documentation = "https://derivative.readthedocs.io/"
keywords = ["differentiation", "derivative", "gradient", "prime"]
authors = ["Andy Goldschmidt <andygold@uw.edu>", "Markus Quade <info@markusqua.de>"]
license = "MIT"
readme = "README.rst"


[tool.poetry.dependencies]
python = "^3.6"
numpy = "^1.18.3"
scipy = "^1.4.1"
sklearn = "^0.0"

# docs
sphinx = {version = "^3.0.2", optional = true}
nbsphinx = {version = "^0.6.1", optional = true}
ipykernel = {version = "^5.2.1", optional = true}
jupyter_client = {version = "^6.1.3", optional = true}
sphinx_rtd_theme = {version = "^0.4.3", optional = true}
matplotlib = {version = "^3.2.1", optional = true}
pytest = "^5.4.3"


[tool.poetry.dev-dependencies]
pytest = "^5.2"


[tool.poetry.extras]
docs = ["sphinx", "nbsphinx", "ipykernel", "jupyter_client", "sphinx_rtd_theme", "matplotlib"]


[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
